{% extends "home.html" %}
{#继承home.html页面#}

{% block crumbs %}
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>
                    <a href="/home">主页</a>
                </li>
                <li class="active">
                    <a class="this">基础信息</a>
                </li>
                <li class="active">
                    <a class="this-page">查询</a>
                </li>
            </ol>

        </div>
    </div>
{% endblock %}

{% block body %}
<!--搜索表单-->
        <div id="navbar_fabu" class="navbar-collapse collapse">
            <form class="navbar-form" method="get" action="/search/">
                <div class="form-group">
                <!--<div class="form-group" method="get" action="/search_name/">-->
                    <input name="name" type="text" placeholder="名称" class="form-control">
                    <input name="address" type="text" placeholder="地址" class="form-control">
                </div>
                <button type="submit" id="search" class="btn btn-success">搜索</button>
            </form>
{#                <td>#}
{#                    <a href="/add_index/" class="btn btn-success">添加</a>#}
{#                </td>#}
        </div>
<!--查询列表-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-bordered ">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>项目名称</th>
                            <th>项目地址</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in contacts %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.address }}</td>
                                <td>{{ event.status }}</td>
                                <td>
                                    <a href="/edit/?event_id={{ event.id }}" class="layui-btn layui-btn-xs">编辑</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <!-- 底部分页按钮-->
    <nav aria-label="Page navigation">
    <ul class="pagination" id="demo0">
            <!-- 如果contacts有上一页，则显示上一页箭头且修改链接地址-->
            {% if contacts.has_previous %}
                <li>
                <a href="?page={{ contacts.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;;</span>
                </a>
                </li>
            {% endif %}
            <!-- 生成导航标签页码-->
            {% for pg in contacts.paginator.page_range %}
                {% if contacts.number == pg %}
                    <!-- 将与view传来的页码相等的导航页码高亮-->
                    <li class="active"><a href="?page{{ pg }}">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% endif %}
            {% endfor %}
            <!-- 如果有下一页，则显示下一页箭头且修改链接地址-->
            {% if contacts.has_next %}
                <li>
                <a href="?page={{ contacts.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            {% endif %}

    </ul>
    </nav>



{#    <script src="/static/vendor/layui/layui.js"></script>#}
{#    <script>#}
{#layui.use(['laypage', 'layer'], function() {#}
{#    var laypage = layui.laypage, layer = layui.layer;#}
{##}
{#    //总页数低于页码总数#}
{#    laypage.render({#}
{#        elem: 'demo0'#}
{#        , count: 50//数据总数#}
{#    });#}
{#})#}
{#    </script>#}
{% endblock %}

