{% extends "home.html" %}
{#继承home.html页面#}

{% block body %}
<!--面包屑-->
    <span class="layui-breadcrumb" lay-separator="/" style="visibility: visible">
        <a href="/">基础信息</a>
        <span lay-separator="/">/</span>
        <a href="/demo/">查询</a>
        <span lay-separator="/">/</span>
        <a><cite>编辑</cite></a>
    </span>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend></legend>
    </fieldset>
    <!-- 列表-->
    <div>
        <form name="con" class="layui-form" action="/edit/" method="post">{% csrf_token %}
            <input id="id" name="id" hidden value ="{{ event.id }}" >


                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px">项目名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="title" autocomplete="off" class="layui-input" value={{ event.name }} >
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 100px">项目地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="address" lay-verify="title" autocomplete="off" class="layui-input" value="{{ event.address }}" >
                    </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label" style="width: 100px">项目状态</label>
                    <div class="layui-input-inline">
                        <input type="text" name="status" lay-verify="title" autocomplete="off" class="layui-input" value="{{ event.status }}" >
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button  lay-submit="" lay-filter="demol" class="layui-btn " lay-filter="demo1"> 保存</button>
                        <button  type="reset" class="layui-btn " >重置</button>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}

