<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>项目名称</th>
                            <th>项目地址</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.id }}</td>
                                <td>{{ event.name }}</td>
                                <td>{{ event.address }}</td>
                                <td>{{ event.status }}</td>
                                <td>
                                    <a href="" class="layui-btn layui-btn-xs">编辑</a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
</body>
</html>